<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">Library</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <ng-container *ngIf="(accountService.user$ | async)">
                        <ng-container
                            *ngIf="accountService.hasEmployeeRole() && !accountService.getLoginUser()!.firstLogin">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/books/new">New book</a>
                            </li>
                        </ng-container>
                        <ng-container  *ngIf="accountService.hasUserRole() || accountService.hasEmployeeRole()">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/books/list"> Books list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/books/borrowed">Borrowed books </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/books/reservations">Reserved books </a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="accountService.hasAdminRole()">
                            <li role="nav-item">
                                <a class="nav-link" href="/user/registration">New user</a>
                            </li>
                            <li role="nav-item">
                                <a class="nav-link" href="/admin/users-list">Users list</a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
            <ng-container *ngIf="(accountService.user$ | async) as user">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Welcome <b>{{user.name}}</b>
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem">
                            <a class="dropdown-item" href="/user/edit/{{user.id}}">My account</a>
                        </li>
                        <li role="menuitem" *ngIf="user.role !='Admin'">
                            <a class="dropdown-item" href="/user/reset-password/{{user.id}}">Reset password</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </ng-container>

        </div>
    </nav>
</header>