<div class="card">
    <div class="card-header text-center fw-bold">
        {{book?.title}}<br>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="mt-4" src='../../../assets/cover.png' width="100" height="150">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Author:</td>
                        <td class="fs-50 fw-bold">{{book?.author}}</td>
                    </tr>
                    <tr>
                        <td>Publisher:</td>
                        <td class="fw-bold">{{book?.publisher}}</td>
                    </tr>
                    <tr>
                        <td>Year:</td>
                        <td class="fw-bold">{{book?.year}}</td>
                    </tr>
                    <tr>
                        <td>Pages:</td>
                        <td class="fw-bold">{{book?.pages}}</td>
                    </tr>
                    <tr>
                        <td>Domain:</td>
                        <td class="fw-bold">{{book?.bookDomain?.domain}}</td>
                    </tr>
                    <tr>
                        <td>Language:</td>
                        <td class="fw-bold">{{book?.bookLanguage?.language}}</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td class="fw-bold">{{book?.bookType?.type}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <!-- <input *ngIf="book!.bookBorrows[0]?.appUser?.id == user?.id" value="This book is borrowed!" /> -->
        <input *ngIf="user?.role == 'Employee'" class="btn btn-outline-info me-5 ms-5" type="submit" value="Edit book"
            (click)="editBook(book?.id!)">

        <input *ngIf="user?.role == 'User' && book!.bookBorrows[0] == null && !book!.isReservedByUser"
            class="btn btn-outline-success me-5 ms-5" type="submit" value="Borrow"
            (click)="borrowBook(book!, borrowNotification)" />

        <input *ngIf="book!.isBorrowedByUser" class="btn btn-danger me-3" type="text" style="background-color:darkred"
            disabled value="You borrowed this book!" />

        <input *ngIf="book!.isBorrowedByOther" class="btn btn-danger me-3" type="text" disabled
            style="background-color:darkred" value="This book is borrowed!" />

        <input *ngIf="book!.isReservedByUser" class="btn btn-succes me-3" type="text"
            style="background-color:darkgreen;color: white;" disabled value="You reserved this book!" />

        <input *ngIf="user?.role == 'User' && (book!.isBorrowedByOther || (!book!.isBorrowedByOther && 
            !book!.isBorrowedByUser && !book!.isReservedByUser))" class="btn btn-outline-secondary me-5" type="submit"
            value="Reserve" (click)="reserveBook(book!,reserveNotification)">

        <input *ngIf="user?.role == 'Employee'" class="btn btn-outline-danger" type="submit" value="Delete"
            (click)="deleteBook(book!,deleteConfirmation)">
    </div>
</div>

<ng-template #deleteConfirmation>
    <div class="modal-header text-center">The following book is about to be deleted</div>
    <div class="text-center fw-bold ">{{title}}</div>
    <div class="modal-body text-center">
        <p>{{message}}</p>
        <button type="button" class="btn btn-outline-danger me-3" (click)="confirmDeletion()">Yes</button>
        <button type="button" class="btn btn-outline-primary" (click)="bsModalRef.hide()">No</button>
    </div>
</ng-template>

<ng-template #borrowNotification>
    <div *ngIf="!borrowService.userHasBorrowedBooks">
        <div class="modal-header text-center">You choose to borrow the book:</div>
        <div class="text-center fw-bold ">{{title}} by {{author}}</div>
        <div class="modal-body text-center">
            <p>Duration: <span class="text-center fw-bold">2 weeks</span></p>
            <p>Start date: <span class="text-center fw-bold">{{startBorrowDate | date:'dd.MM.YYYY'}}</span></p>
            <p>Return date : <span class="text-center fw-bold">{{endBorrowDate | date:'dd.MM.YYYY'}}</span></p>
            <p>{{message}}</p>
            <button type="button" class="btn btn-outline-danger me-3" (click)="confirmBorrow()">Confirm</button>
            <button type="button" class="btn btn-outline-primary" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </div>
    <div *ngIf="borrowService.userHasBorrowedBooks">
        <div class="modal-header text-center fw-bold"> Borrow notification</div>
        <div class="modal-body text-center">
            <i class="fa fa-exclamation-triangle fa-2x" style="color: red;"></i>
            You are allowed to borrow only one book once!
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger me-3" (click)="bsModalRef.hide()">OK</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #reserveNotification>
    <div *ngIf="!reserveService.userHasReservedBooks">
        <div class="modal-header text-center">You choose to reserve the book:</div>
        <div class="text-center fw-bold ">{{title}} by {{author}}</div>
        <div class="modal-body text-center">
            <p *ngIf="reservationsCount">
                <i class="fa fa-exclamation-triangle fa-2x" style="color:green"></i>
                This book is already reserve by {{reservationsCount}} user(s)!
            </p>
            <p>Duration: <span class="text-center fw-bold">1 week</span></p>
            <p>Start date: <span class="text-center fw-bold">{{startReservationDate | date:'dd.MM.YYYY'}}</span></p>
            <p>Return date : <span class="text-center fw-bold">{{endReservationDate | date:'dd.MM.YYYY'}}</span></p>
            <p>{{message}}</p>
            <button type="button" class="btn btn-outline-danger me-3" (click)="confirmReservation()">Confirm</button>
            <button type="button" class="btn btn-outline-primary" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </div>
    <div *ngIf="reserveService.userHasReservedBooks">
        <div class="modal-header text-center fw-bold"> Reservation notification</div>
        <div class="modal-body text-center">
            <i class="fa fa-exclamation-triangle fa-2x" style="color: red;"></i>
            You are allowed to reserve only one book once!
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger me-3" (click)="bsModalRef.hide()">OK</button>
            </div>
        </div>
    </div>
</ng-template>