<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="text-primary fw-bold">Users List</h3>
    </div>
    <div class="col-md-8 mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <label class="input-group-text" for="search">Search: </label>
                    <input class="form-control" type="text" (keyup)="searchByValue($event)" id="search"
                        placeholder="Search text...." />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label class="input-group-text" for="selectRole">Select role: </label>
                    <select class="form-control" id="selectRole" (change)="selectRole($event)">
                        <option value="All">All roles</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                        <option value="Employee">Employee</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
    <table class="table mt-5 border">
        <tr class="bg-light text-center">
            <th>Name</th>
            <th>Subscription</th>
            <th>Role</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Registration</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.subscription == null?'N/A':user.subscription.type}}</td>
            <td>{{user.role}}</td>
            <td>{{user.phoneNumber ? user.phoneNumber:'N/A'}}</td>
            <td>{{user.email}}</td>
            <td>{{user.registrationDate | date:'dd.MM.YYYY'}}</td>
            <td>
                <input type="submit" class="btn btn-outline-secondary " style="margin-right: 7px;" value="Edit user"
                    (click)="editUser(user.id)" />

                <input type="submit" class="btn btn-outline-primary " style="margin-right: 7px;" value="Reset Passord"
                    (click)="resetPassword(user.id)" />

                <input type="submit" class="btn btn-outline-danger" value="Block user" />
            </td>

        </tr>
    </table>
</div>