<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="text-primary fw-bold">Lista utilizatori</h3>

        <input type="text" (keyup)="searchByValue($event)"><br>
        

        <table class="table mt-5 border">
            <tr class="bg-light">
                <th>No.</th>
                <th>Name</th>
                <th>Subscription</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Registration</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.phoneNumber ? user.phoneNumber:'N/A'}}</td>
                <td>{{user.email}}</td>
                <td>{{user.email}}</td>
                <td>{{user.email}}</td>
                <td>{{user.registrationDate | date:'dd.MM.YYYY'}}</td>
                <td>
                    <input type="submit" class="btn btn-outline-primary " style="margin-right: 7px;"
                        value="Reset Passord" />
                    <input type="submit" class="btn btn-outline-danger" value="Block user" />
                </td>

            </tr>
        </table>
    </div>
</div>