<div class="row">
    <h2 class="col-md-12 text-center text-info fw-bold">
        Reserved books list
    </h2>
    <div class="col-md-12">
        <table class="table mt-5 border">
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th *ngIf="user?.role == 'Employee'">User</th>
                <th>Date Start</th>
                <th>Date End</th>
                <th class="text-center">Options</th>
            </tr>
            <tr *ngFor="let reservedBook of reservationsList">
                <td>{{reservedBook.title}}</td>
                <td>{{reservedBook.author}}</td>
                <td *ngIf="user!.role == 'Employee'">
                    {{reservedBook.appUser!.name}}
                </td>
                <td>{{reservedBook.startDate | date:'dd.MM.YYYY'}}</td>
                <td>{{reservedBook.endDate | date:'dd.MM.YYYY'}}</td>

                <td class="text-center">

                </td>

            </tr>
        </table>
    </div>
</div>