<div class="row">
    <div class="col-md-4 offset-4">
        <h2 class="text-primary fw-bold text-center mb-3">Login User</h2>
        <form [formGroup]="loginForm" (submit)="login()" autocomplete="off">
            <div class="mb-3">
                <input type="text"
                    [class.is-invalid]="loginForm.get('username')?.errors && loginForm.get('username')?.touched"
                    class="form-control" formControlName="username" placeholder="username">
                <div class="invalid-feedback">Please enter an username</div>
            </div>

            <div class="mb-3">
                <input type="password"
                    [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                    class="form-control" formControlName="password" placeholder="password">
                <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('required')">
                    Please enter a valid password</div>
                <div class="invalid-feedback" *ngIf="loginForm.get('password')?.hasError('pattern')">
                    Please enter a valid password</div>
            </div>

            <div class="text-center">
                <button class="btn btn-success me-3" type="submit">Login</button>
                <button class="btn btn-danger" type="button" (click)="initializeForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>